/*
Copyright 2015 Joseph Burger, Alexander McNulty and Nicholas Tarn, all rights reserved.
To use under MIT license, all copyrights must be perserved.
Contact me at 'candyapplecorn@gmail.com' if you would like to use this,
*/
# Ignore all .ini files since they contain credentials #
########################################################
*.ini
# Ignore the credentials file #
credentials*

# Ignore node_modules - They can be downloaded via `npm install` #
node_modules

# ignore ds.store
.DS_Store
