body{
	min-width: 870px;
	width: 100%;
	background-image: url(../img/stickwar.jpg);
	letter-spacing: 1.1px
}

/* HEADER */
ul li a.donate{
	color:#999;
}

.navbar{
	height: 60px;
	display: block;
	background-color: #333;
	padding:12px 10px 11px; 
	color: #f7f7f7;
}
.navbar h1 {
	margin: 0px;
	color: #f7f7f7;
}
.navbar h1  a{
	font-weight: 200;
}
.navbar a{
	color: #f7f7f7;
	vertical-align: bottom;
	padding: 10px;
	font-weight: 100;
}


nav.top-bar.sign-up{
	background-color: #292929;
	height:210px;
}
nav.top-bar.login{
	background-color: #292929;
	height:175px;	
}
nav.top-bar.secondary ul{
	margin-left:0px;
}
.header-pop-up{
	color:#f7f7f7;
	font-weight: 700;
	letter-spacing: 1.2px;
	margin:10px 20px;
}
.secondary input{
	width:90%;
}
.secondary label{
	color:#bbb;
}
.secondary button{
	margin:15px 30px;
}

.secondary.sign-up{
	display:none;
}
.secondary.login{
	display:none;
}

/* MAIN */
.outward{
	margin:18px auto 20px;
	border-bottom: 1px solid #bbb;
}
div.sidebar div.button.small{
	margin: 8px;
	border:1px solid #444;
}

/*TABLE*/
table{
	width:100%;
	padding:0;
	letter-spacing: .8px;
	border:1px solid #777;
}
td{
	border:1px solid #777;
}
.numbers{
	text-align: right;
}
.add input{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.add button{
	margin: 4px auto;
	width: 100%;
}
.button{
	margin-bottom: 0px;
	margin-top: 15px;
}
.button.small{
		padding: 10px 15px;
}
.sectionHeader{
	color:#007095;
	background-color: #f4f4f4;
	border:1px solid #777;
	border-right: 0px;
	border-left: 0px;
	font-weight: 700;
	padding-top: 8px;
	padding-bottom: 5px;
	letter-spacing: .13em;
	font-size: 20px !important; 
}
.buttonHeader{
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 6px;
}
.buttonField{
	background-color: #485458;
	padding: 5px;
	margin: 0px 3px 0px;
	text-align: center;
	overflow: hidden;
	letter-spacing: .05em;
}
.buttonField input{
	width:70px;
	color: #333;
}
.buttonField span.cost{
	margin: 20px;
}

.row.full.buttons{
	padding: 0px 20px;
}

.button.small{
	padding: 5px 1px;
}
.button.small.norm{
	padding: 2px 5px;
	vertical-align: center;
	margin: 0px 0px 0px 0px;

}
.button.small.success{
	padding: 5px 5px;
}
.buttonField .right input{
	width: 50px;
}
table tr th, table tr td{
padding: 0.2625rem 0.325rem;}